*.stackdump
/school_vue1/v1/node_modules
/school_vue2/vue2/node_modules
/school_vue2/vue2/dist
/school_vue2/vue2/npm-debug.log
/school_vue2/vue2/yarn-error.log
/school_vue2/vue2/.idea
/school_vue2/vue2/*.suo
/school_vue2/vue2/*.ntvs*
/school_vue2/vue2/*.njsproj
/school_vue2/vue2/*.sln
/school_vue1/realtime_firebase/node_modules
/school_vue1/webpack/realtime_firebase/node_modules
/school_vue1/vuex-curso/node_modules