*.stackdump
/school_vue1/v1/node_modules
/school_vue2/vue2-curso/node_modules
/school_vue2/vue2-curso/dist
/school_vue2/vue2-curso/npm-debug.log
/school_vue2/vue2-curso/yarn-error.log
/school_vue2/vue2-curso/.idea
/school_vue2/vue2-curso/*.suo
/school_vue2/vue2-curso/*.ntvs*
/school_vue2/vue2-curso/*.njsproj
/school_vue2/vue2-curso/*.sln
/school_vue1/realtime_firebase/node_modules
/school_vue1/webpack/realtime_firebase/node_modules
/school_vue1/vuex-curso/node_modules
/school_vue2/webpack2-curso/node_modules
/school_vue2/webpack2-curso.
/school_vue2/webpack2-curso./node_modules
/school_vue2/webpack2-curso./dist
/school_vue2/webpack2-curso/dist
/school_vue2/vue2-curso/vue2-curso/node_modules
/school_vue2/vuex2-curso/vuex2-curso/node_modules