<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vue2-curso</title>
</head>
<body>
  <div id="app">
      <app></app>
<!--     <h1>Campeonato Brasileiro</h1>
    <ul>
      <li v-for="(item, index) in times">
        {{index + 1}} - {{item.nome}}         
        <img :src="item.escudo">
      </li>
    </ul>      

    <ul>
      <li v-for="(item, chave, index) in alfabeto">
        {{index}}  - {{chave}}         - {{item}}         
        <img :src="item.escudo">
      </li>
    </ul>  -->       

  </div>
  <script src="/dist/build.js"></script>
</body>
</html>
