<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My Books</title>
	<link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/font-awesome/css/font-awesome.css">
</head>
<body>

<div class="container" id="hello">
	<div class="row">
		<h1>{{msg}}</h1>
		<input type="text" name="" class="form-control" v-model="msg" />
	</div>

	<div class="row">
		<h1>My List</h1>
		<ul>
			<li v-for="person in people">
				{{person.name}}
			</li>
		</ul>
	</div>

	<div class="row">
		<h1>My List elements</h1>
		<input type="text" name="" class="form-control" v-model="newElement" v-on:keyup.enter="addElement" />
		<ul>
			<li v-for="element in elements">
				{{element.title}}
				<a href="#" v-on:click="removeElement($event, $index)" class="btn btn-primary">X</a>
			</li>
		</ul>		
	</div>

	<div class="row">
		<h1>v-on</h1>
		<div><button v-on:click="myClick">Click</button></div>
		<div><button @click="myClick">Click de forma reduzida</button></div>
		<div><input type="text" name="" @keyup="myKeyup" placeholder="MyKeyup"></div>
		<div><input type="text" name="" @keyup.enter="myKeyup" placeholder="MyKeyup with enter"></div>
	</div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="js/app.js"></script>
</body>
</html>